@charset "utf-8";

/* 헤더 영역 */
.header h1 {float: left;}
.header h1 em {padding: 15px 8px 5px 0; display: inline-block;}
.header h1 em img {width: 130px; }
.header .nav {height: 50px;}
.header .nav ul {display: block; padding: 19px 0px;  }
.header .nav ul li {float: left; width: 110px; text-align: center;}
.header .nav ul li a { font-size: 18px; font-weight: 500; color: #444; line-height: 50px;}
.mr-sm-2 {margin-top: 6px; float: right; }
.btn { margin-top: 6px;}



.card {
margin-top:30px;
margin-left:10px;
margin-right:0px;
margin-bottom:100px;
 float: left;
}

.tit {
width:0 auto;
height:0 auto;
margin-top:20px;
margin-left:50px;
font-size:20px;
color:ff0000;
}

.cardImg {
  width: 200px;
  height: 280px;
  object-fit: cover;
  color:#666;
}
.date{
	width:60px;
	margin-top:10px;
	margin-bottom:10px;
}
.admin{
	margin-left:40px;
}
.ok{
	margin-right:10px;
}