@charset "UTF-8";

@import url('https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css');

@media screen {
.foote{
width:100%;
max-width:1000spx;
height:auto;
margin-top:1000spx;
background-color: #f2dada;
color:#423e3e;
font-size : 12px;

}
.movie_chart {padding: 50px 0; height: 592px; margin-left: 13%;}
.box-op {font-size: 25px; font-weight: 700; margin-bottom: 12px;}
.movie_chart > div {overflow: hidden;}
.movie_chart > div > div {float: left; width: 250px; height: 550px; margin-right: 18px;}
.movie_chart > div > div:last-child {margin-right: 0;}
.movie_chart > div > div .poster {position: relative;}
.movie_chart > div > div .poster img {display: block;}
.movie_chart > div > div .poster .rank {position: absolute; top: 10px; left: 10px; width: 30px; height: 30px; font-size: 16px; 
    box-shadow: 3px 3px 8px rgba(0,0,0,0.5); line-height: 30px; background-color:rgba(0,0,0,0.8); text-align: center;}
.movie_chart > div > div .poster .rank strong {color: #fff; text-shadow: 2px 2px 3px rgba(0,0,0,1);}
.movie_chart > div > div .infor {padding: 15px; }
.movie_chart > div > div .infor h3 {color: #333; font-size: 15px; font-weight: 500; margin-bottom: 8px; }
.movie_chart > div > div .infor h3 strong{
    display: inline-block; width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}
   }